
django-phonenumber-field
drf-yasg
django-import-export
speechrecognition
pyaudio
pyttsx3
geopy
#Installation Procedure
#pip install -r requirements.txt
#python manage.py runserver
Django==5.1.4
pillow
mysql-connector-python
mysqlclient==2.2.5
djangorestframework==3.14.0
markdown
django-filter
django-phonenumbers